body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #808080;
}




main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pictures {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}



img {
    position: relative;
    top: 0;
    left: 0;
    width: 5%;
    height: 5%;
}

h2 {
    color: #87CEEB;
}

p {
    color: #87CEEB;
}

.imgperfil {
    min-width: 80px;

}

input {
    border-style: solid;
    border-radius: 5rem 5rem 5rem 5rem;
}

.camera {
    position: relative;
    left: 50%;
    bottom: 5%;
}

footer {
    display: flex;
    flex-direction: center;
    align-items: center;
}

p {
    font-size: 2rem;
    ;
}